@import "tailwindcss";

:root {
  font-size: 14px;
  font-weight: 500;
  font-family: "Quicksand";
  color: oklch(37.2% 0.044 257.287);
}

.well{
  @apply bg-gray-100 text-slate-700 font-semibold rounded-lg inset-shadow-sm/50 inset-shadow-gray-400;
}
.raised{
  @apply relative flex items-center gap-2.5 px-4 py-2 rounded-lg cursor-pointer hover:bg-gray-50 hover:shadow-sm hover:shadow-gray-300;
}

.btn {
  @apply font-bold py-1.5 px-3 rounded;
}

.btn:hover {
  @apply cursor-pointer;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-blue:disabled {
  @apply bg-blue-400 cursor-auto;
}

.btn-gray {
  @apply bg-gray-200 text-gray-800;
}

.btn-gray:hover {
  @apply bg-gray-400;
}

.btn-danger {
  @apply bg-red-500 text-white;
}

.btn-danger:hover {
  @apply bg-red-700;
}

.card {
  transition: transform 0.1s ease;
  @apply p-5 rounded-xl overflow-hidden bg-gray-50 shadow-lg;
}

.input-text {
  @apply bg-gray-100 appearance-none border-0 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500;
}

.hruler {
  @apply my-4 text-gray-300;
}

.form-label {
  @apply block text-gray-500 font-bold pr-4;
}

.required:after {
  content: " *";
  @apply text-red-500;
}


.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.ng-valid:not(form) {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}