<aside class="h-full w-60 pl-2 pb-2 pr-1">
  <div class="h-full well">
    <div class="flex flex-col py-4 self-start">
      <nav class="px-4 h-full grid content-between">
        <ul class="flex flex-col">
          <li><a class="raised" routerLink="/dashboard" routerLinkActive="text-orange-400"><i class="fa fa-gauge"></i>Dashboard</a></li>
          <li><a class="raised" routerLink="/connectors" routerLinkActive="text-orange-400"><i class="fa fa-plug"></i>Connectors</a></li>
          <li><a class="raised" routerLink="/transformers" routerLinkActive="text-orange-400"><i class="fa fa-gear"></i>Transformers</a></li>
          <li><a class="raised" routerLink="/data-flows" routerLinkActive="text-orange-400"><i class="fa fa-timeline"></i>Data Flows</a></li>
          <li><a class="raised" routerLink="/reports" routerLinkActive="text-orange-400"><i class="fa fa-file-lines"></i>Reports</a></li>
          <li><a class="raised" routerLink="/alerts" routerLinkActive="text-orange-400"><i class="fa fa-bell"></i>Alerts</a></li>
        </ul>
      </nav>
    </div>

    <hr class="border-gray-300 w-50 place-self-center">
    
    <div class="flex flex-col py-4 self-end menu-container">
      <nav class="px-4 h-full grid content-between">
        <ul class="flex flex-col">
          <li><a class="raised" routerLink="/users" routerLinkActive="text-orange-400"><i class="fa fa-user"></i>Users</a></li>
          <li><a class="raised" routerLink="/user-groups" routerLinkActive="text-orange-400"><i class="fa fa-users"></i>User Groups</a></li>
          <li><a class="raised" routerLink="/roles" routerLinkActive="text-orange-400"><i class="fa fa-user-gear"></i>Roles</a></li>
          <li><a class="raised" routerLink="/audit" routerLinkActive="text-orange-400"><i class="fa fa-file-pen"></i>Audit</a></li>
        </ul>
      </nav>
    </div>
  </div>
</aside>