<aside class="h-full w-60 pl-2 pb-2 pr-1">
  <div class="h-full bg-gray-50 text-slate-700 font-bold rounded-lg inset-shadow-sm inset-shadow-gray-300">
    <div class="flex flex-col py-4 self-start">
      <nav class="px-4 h-full grid content-between">
        <ul class="flex flex-col [&>li>a]:relative [&>li>a]:flex [&>li>a]:items-center 
          [&>li>a]:gap-2.5 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-lg [&>li>a]:cursor-pointer
          [&>li>a]:hover:bg-white [&>li>a]:hover:shadow-sm [&>li>a]:hover:shadow-gray-300">
          <li><a routerLink="/home/dashboard" routerLinkActive="active-link"><i class="fa fa-gauge"></i>Dashboard</a></li>
          <li><a routerLink="/home/connectors" routerLinkActive="active-link"><i class="fa fa-plug"></i>Connectors</a></li>
          <li><a routerLink="/transformers" routerLinkActive="active-link"><i class="fa fa-gear"></i>Transformers</a></li>
          <li><a routerLink="/data-flows" routerLinkActive="active-link"><i class="fa fa-timeline"></i>Data Flows</a></li>
          <li><a routerLink="/reports" routerLinkActive="active-link"><i class="fa fa-file-lines"></i>Reports</a></li>
          <li><a routerLink="/alerts" routerLinkActive="active-link"><i class="fa fa-bell"></i>Alerts</a></li>
        </ul>
      </nav>
    </div>

    <hr class="border-gray-300 w-50 place-self-center">
    
    <div class="flex flex-col py-4 self-end menu-container">
      <nav class="px-4 h-full grid content-between">
        <ul class="flex flex-col [&>li>a]:relative [&>li>a]:flex [&>li>a]:items-center 
          [&>li>a]:gap-2.5 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-lg [&>li>a]:cursor-pointer
          [&>li>a]:hover:bg-white [&>li>a]:hover:shadow-sm [&>li>a]:hover:shadow-gray-300">
          <li><a routerLink="/users" routerLinkActive="active-link"><i class="fa fa-user"></i>Users</a></li>
          <li><a routerLink="/user-groups" routerLinkActive="active-link"><i class="fa fa-users"></i>User Groups</a></li>
          <li><a routerLink="/roles" routerLinkActive="active-link"><i class="fa fa-user-gear"></i>Roles</a></li>
          <li><a routerLink="/audit" routerLinkActive="active-link"><i class="fa fa-file-pen"></i>Audit</a></li>
        </ul>
      </nav>
    </div>
  </div>
</aside>