
<div class="flex h-screen items-center justify-center">
    <div class="flex h-xl max-h-xl max-w-2xl bg-white border border-gray-200 rounded-lg shadow-2xl">
        <div id="login-left" class="hidden lg:block w-1/2">
            <img class="object-cover w-full h-full rounded-l-lg" src="signin-bg.png" alt="Bytepipe">
        </div>
        <div id="login-right" class="w-full lg:w-1/2 flex items-center justify-center px-6 py-6 lg:px-12">
            <div class="w-full max-w-[400px] space-y-8">
                <div class="text-center">
                    <h1 class="text-3xl font-bold text-gray-900 mb-2"><app-logo/></h1>
                </div>
                <div class="relative">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-gray-300"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="px-2 bg-white text-gray-500">Login to BytePipe using</span>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-7">
                    <a (click)="login('google')" class="cursor-pointer">
                       <img src="logo-google.png" class="w-12 h-12 rounded" />
                    </a>
                    <a (click)="login('microsoft')" class="cursor-pointer">
                        <img src="logo-microsoft.png" class="w-12 h-12 rounded" />
                    </a>
                    <a (click)="login('linkedin')" class="cursor-pointer">
                        <img src="logo-linkedin.png" class="w-12 h-12 rounded" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
