<div id="connector-delete-confirm" class="modal">
    <div class="flex">
        <div class="absolute inset-0 bg-gray-500 opacity-75 z-0"></div>
        <div class="absolute inset-0 place-items-center place-content-center z-10">
            <div class="card h-fit w-170 [&>div]:flex [&>div]:items-center [&>div]:py-2">
                <div class="flex justify-between">
                    <p class="text-2xl pb-2"><i class="fa fa-warning text-red-500"></i> Delete Connector {{name}}</p>
                    <button (click)="onClose()" class="pt-1 px-2 mr-4 self-start justify-self-end cursor-pointer rounded-sm bg-gray-100 hover:bg-gray-200"><i class="fa fa-times"></i></button>
                </div>
                <hr class="hruler">
                <div class="flex content-center items-center">
                    Are you sure you want to delete Connector {{name}} ?
                </div>
                <hr class="hruler">
                <div class="flex justify-end">
                    <button (click)="onClose()" class="btn btn-gray mr-2"><i class="fa fa-times"></i> Cancel</button>
                    <button (click)="onConfirm()" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
