<div id="page-container" class="h-full w-full place-items-center place-content-center">
    <form [formGroup]="oracleConnectorForm" class="card h-fit w-200 [&>div]:flex [&>div]:items-center [&>div]:py-3">

        <p class="text-3xl pb-3"><i class="fa fa-plug"></i> {{0 === id ? 'Create New Oracle Connector' : 'Modify Oracle Connector {{id}}'}}</p>
        <div>
            <label class="w-1/4 form-label" for="name">Name</label>
            <input class="w-3/4 input-text" type="text" id="name" formControlName="name">
        </div>
        <div>
            <label class="w-1/4 form-label" for="description">Description</label>
            <textarea class="w-3/4 input-text" id="description" formControlName="description"></textarea>
        </div>
        <div>
            <label class="w-1/4 form-label" for="url">URL</label>
            <input class="w-3/4 input-text" type="text" id="url" formControlName="url">
        </div>
        <div>
            <label class="w-1/4 form-label" for="username">Username</label>
            <input class="w-3/4 input-text" type="text" id="username" formControlName="username">
        </div>
        <div>
            <label class="w-1/4 form-label" for="password">Password</label>
            <input class="w-3/4 input-text" type="password" id="password" formControlName="password">
        </div>
        <div class="py-4 flex justify-end">
            <div>
                <button class="btn btn-blue" [disabled]="!oracleConnectorForm.valid" (click)="onSave()"><i class="fa fa-save"></i> {{0 === id ? 'Create' : 'Update'}}</button>
            </div>
            
        </div>
    </form>
</div>
