<div id="page-container" class="h-full w-full justify-center items-center overflow-y-scroll">
    <div id="title-bar" class="flex p-4 justify-between">
        <p id="title-text" class="text-4xl"><i class="fa fa-plug"></i> Connectors</p>
        <button class="btn btn-blue" (click)="onCreate()"><i class="fa fa-plus"></i> Create New Connector</button>
    </div>
    <app-oracle-connector-editor #oracleConnectorEditor/>
    <div class="flex flex-wrap">
        <div *ngFor="let connector of connectors" class="card h-60 w-120 ml-5 mt-5 transition-opacity duration-700">
            <div class="flex justify-between h-8">
                <span class="text-2xl font-bold">{{connector.id}}. {{connector.name}}</span>
                <app-connector-type [type]="connector.type"></app-connector-type>
            </div>   
            <div class="h-34">
                <p class="text-sm py-2 h-17">{{connector.description}}</p>
                <div class="flex justify-between h-17 [&>div]:p-3 
                    [&>div>p:first-child]:text-xl [&>div>p:first-child]:font-semibold [&>div>p:first-child]:text-center
                    [&>div>p:last-child]:text-xs
                    [&>span]:border [&>span]:border-gray-300 [&>span]:w-0">
                    <div>
                        <p>23</p>
                        <p>million events</p>
                    </div>
                    <span></span>
                    <div>
                        <p>400</p>
                        <p>errors found</p>
                    </div>
                    <span></span>
                    <div>
                        <p>567</p>
                        <p>hours uptime</p>
                    </div>
                    <span></span>
                    <div>
                        <p>1025</p>
                        <p>ms avg latency</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-between h-8 items-end text-xs">
                <app-created-by text="Created By" [date]="connector.createdDate" [userId]="connector.createdBy"></app-created-by>
                <span>
                    <button class="bg-red-200 hover:bg-red-300 text-red-600 font-bold py-2 px-2.5 rounded-full cursor-pointer">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="bg-gray-200 hover:bg-gray-300 text-gray-600 font-bold py-2 px-2.5 rounded-full cursor-pointer mx-1">
                        <i class="fa fa-eye"></i>
                    </button>
                    <button (click)="onEdit(connector.id!)" class="bg-blue-200 hover:bg-blue-300 text-blue-600 font-bold py-2 px-2.5 rounded-full cursor-pointer">
                        <i class="fa fa-edit"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
