<div class="h-full content-center justify-center">
    <div class="h-full flex px-4 gap-2.5 items-center content-center">
        Developed by 
        <img src="https://lh3.googleusercontent.com/a/ACg8ocIub6BobqOdxXXfj48ntPOYLJuCKTHQ_kAmXSHwt3nLj66y9w=s96-c"
            class="w-7 h-7 rounded-full" />
        Parag Paralikar
        <a class="text-2xl text-blue-600" href="https://www.linkedin.com/in/paragparalikar/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="text-2xl text-yellow-600" href="mailto:parag.paralikar@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
</div>